*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

html{
    font-size: calc(100vw / 750 * 100);
}

html,body,#root,.App{
    height: 100%;
}

.App{
    max-width: 705px;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    position: relative;
}

.nav{
    background-color: #005dff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    span{
        flex:1;
        color: white;
        font-size: 0.36rem;
    }
}

#charts{
    height: 1000px;
}

#news{
    height: 500px;
}