*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

html{
    font-size: calc(100vw / 750 * 100);
}

html,body,#root,.App{
    height: 100%;
}

.App{
    max-width: 705px;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    position: relative;
}

.nav{
    background-color: #005dff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    span{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            font-size: 0.28rem;
            color: rgba(255, 255, 255, 0.6);
            font-weight: normal;
        }
    }
    span.active{
        position: relative;
        a{
            color: white;
            font-weight: bold;
        }
        &::before{
            content: '.';
            display: block;
            font-size: 0;
            line-height: 0;
            width: 0.36rem;
            height: 0.08rem;
            border-radius: 0.16rem;
            background-color: #fff;
            bottom: 0.08rem;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
        }
    }
}

#charts{
    height: 1000px;
}

#news{
    height: 1000px;
}

#rumor{
    height: 1000px;
}

#prevent{
    height: 1000px;
}