.topdatawrap{
    width: 100%;
}

.topdatawrap .lastupdatatime{
    height: 1.266667rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
    p{
        font-size: 0.36rem;
        span{
            font-weight: 500;
            color: #222;
        }
    }
}