.nav {
  background-color: #005dff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.333333rem;
  display: flex;
  flex-direction: row;
}

.nav span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav span a {
  text-decoration: none;
  font-size: 0.373333rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

.nav span.active {
  position: relative;
}

.nav span.active a {
  color: white;
  font-weight: bold;
}

.nav span.active::before {
  content: '.';
  display: block;
  font-size: 0;
  line-height: 0;
  width: 0.48rem;
  height: 0.106667rem;
  border-radius: 0.213333rem;
  background-color: #fff;
  bottom: 0.106667rem;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
